<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <style>
        body{
            color: #333333 ;
            font-family: Arial, Helvetica, sans-serif;
            /* margin: 0px auto; */
            /* padding: 0 16px; */
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        
        header{
            /* margin-top: 16px;
            margin-bottom: 48px; */
            background-color:aquamarine;
            padding: 5px;
        }

        header a{
            color: #888;
            margin-left: 25px;
            text-decoration: none;
        }

        .main-content{
            max-width: 800px;
            margin: 10px auto;
            padding: 0 16px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Task Manager</h1>

        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>  
    </header>
    <div class="main-content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus voluptatem labore sed? Dicta, a? Rerum, voluptatem aut ex velit magni odit sequi dolores asperiores iure ipsa accusamus, minus, tempore exercitationem.
    </div>


</body>
</html>