{{> header}}
{{> navbar}}
    <!-- Content -->
    <div class="container main">

        <div class="card hbs-border content-div">
            <div class="ps-3">
                <h2 class="hbs-mini-font">Create Your Account</h2>

                <div class="hbs-form hbs-font">
                    <form action="/users" method="post">
                    <!-- Name input -->
                    <div class="mb-3 small-input">
                        <label for="exampleInputName" class="form-label">Name:</label>
                        <input type="name" class="form-control form-input" id="exampleInputName" name="name">
                      </div>

                      <!-- Email input -->
                    <div class="mb-3 small-input">
                        <label for="exampleInputEmail1" class="form-label">Email:</label>
                        <input type="email" class="form-control form-input" id="exampleInputEmail1" name="email" >
                      </div>

                      <!-- Password input -->
                      <div class="mb-3 small-input">
                        <label for="exampleInputPassword1" class="form-label">Password:</label>
                        <input type="password" class="form-control form-input" name="password" id="exampleInputPassword1">
                      </div>

                      <!-- Age input -->
                      <div class="mb-3 small-input">
                        <label for="exampleInputFName" class="form-label">Age <small>(optional)</small></label>
                        <input type="text" class="form-control form-input" name="age" id="exampleInputFName">
                      </div>
                      

                      <button type="submit" class="btn hbs-button">Submit</button>
                    </form>
                </div>
            </div>

        </div>


    </div>

    
{{> footer}}