{{> header}}
{{> navbar}}  

<div class="container-fluid content">
<a href="/tasks/new" class="btn btn-success btn-inverse mt-4">Add new tasks</a> 
<div class="taskList mt-4">

<ul class="list-group list-group-square">
     {{#each task }} 
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            {{this.task}} 
        </div>
        <span class="badge bg-success">
             {{update this._id}}
        </span>
        &nbsp;
        <span class="badge bg-danger">
             {{delete this._id}}
        </span>
    </li>
    {{/each}}
    </ul>

</div>

</div>

{{> footer}} 