<!-- Top nav -->
<div>
   <nav class="logo-container">
       <div class="py-2 ps-2">
         <a class="navbar-brand" href="#">
           <h3>Task Manager</h3>
         </a>
       </div>
     </nav>
</div> 