{{> header}}
{{> navbar}}

<!-- Content -->
    <div class="main">
            <div class="ps-3">
                <h2 class="hbs-mini-font"></h2>
                <div class="hbs-form hbs-font">
                    <form action="/tasks/new" method="post">
                      <!-- Email input -->
                    <div class="mb-3 small-input">
                        <label for="exampleInputEmail1" class="form-label">What do you wish to do?</label>
                        <input type="text" class="form-control form-input" id="exampleInputEmail1" name="task" >
                      </div>
                      <button type="submit" class="btn hbs-button">Submit</button>
                    </form>
                </div>
            </div>

        


    </div>

{{> footer}}